@font-face { font-family: "Barlow Semi Condensed Medium"; src: url(./fonts/barlow-medium.ttf); }
@font-face { font-family: "Barlow Semi Condensed SemiBold"; src: url(./fonts/barlow-semibold.ttf); }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

:root {
        /* COLOR PALETTE */
    --moderate-violet-color: hsl(263, 55%, 52%);
    --moderate-violet-lighter-color: hsl(263, 55%, 65%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-grayish-blue-50: hsl(217, 19%, 35%, 50%);
    --very-dark-grayish-blue-70: hsl(217, 19%, 35%, 70%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white-color: hsl(0, 0%, 100%);
    --white-color-50: hsl(0, 0%, 100%, 50%);
    --white-color-70: hsl(0, 0%, 100%, 70%);
    --light-gray-color: hsl(0, 0%, 81%);
    --light-grayish-blue-color: hsl(210, 46%, 95%);

        /* TYPOGRAPHY */
    --main-font-medium: "Barlow Semi Condensed Medium";
    --main-font-semibold: "Barlow Semi Condensed SemiBold";
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: var(--light-grayish-blue-color);
    font-family: var(--main-font-medium);
    font-size: 13px;
}

main {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-container {
    max-width: 1110px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        'daniel daniel jonathan kira'
        'jeanette patrick patrick kira';
    gap: 21px;
    margin: 20px;
}


/* CARDS GENERAL STYLING */
.cards {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 20px 32px 30px 32px;
    border-radius: 12px;
}

/* CARDS BIO STYLING*/
.cards__bio {
    display: flex;
    gap: 16px;
}

.cards__bio picture {
    width: 33.35px;
}

.cards__bio picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 2px solid var(--moderate-violet-lighter-color);
}

.cards__bio__info {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.cards__bio__info > h2 {
    position: relative;
    z-index: 2;
    font-size: 15px;
    font-weight: normal;
    font-family: var(--main-font-medium);
    color: var(--white-color);
}

.cards__bio__info > p {
    position: relative;
    z-index: 2;
    color: var(--white-color-50);
}
/* ---------------------------------------------------------- */

.cards__review-title {
    position: relative;
    font-size: 20px;
    color: var(--white-color);
    font-family: var(--main-font-semibold);
    z-index: 2;
}

.cards__review-text {
    color: var(--white-color-70);
}
/* ----------------------------------------------------- */


/* INDIVIDUAL STYLING FOR EACH CARD */

/* DANIEL */
.cards--daniel {
    position: relative;
    grid-area: daniel;
    background-color: var(--moderate-violet-color);
}

.cards--daniel > img {
    position: absolute;
    top: 0;
    left: 65%;
}
/* ------------------------------------------------------------ */

/* JONATHAN */
.cards--jonathan {
    grid-area: jonathan;
    background-color: var(--very-dark-grayish-blue);
    
}

.cards--jonathan picture img {
    border: none;
}
/* ------------------------------------------------------------ */

/* JEANETTE */
.cards--jeanette {
    grid-area: jeanette;
    background-color: var(--white-color);

    -webkit-box-shadow: 10px 10px 73px -35px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 73px -35px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 73px -35px rgba(0,0,0,0.75);
}

.cards--jeanette .cards__bio__info > h2 {
    color: var(--very-dark-grayish-blue);
}

.cards--jeanette .cards__bio__info > p {
    color: var(--very-dark-grayish-blue-50);
}

.cards--jeanette picture img {
    border: none;
}

.cards--jeanette .cards__review-title {
    color: var(--very-dark-grayish-blue);
}

.cards--jeanette .cards__review-text {
    color: var(--very-dark-grayish-blue-70);
}
/* ------------------------------------------------------------ */

/* PATRICK */
.cards--patrick {
    grid-area: patrick;
    background-color: var(--very-dark-blackish-blue);
}
/* ------------------------------------------------------------ */

/* KIRA */
.cards--kira {
    grid-area: kira;
    background-color: var(--white-color);

    -webkit-box-shadow: 10px 10px 73px -35px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 73px -35px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 73px -35px rgba(0,0,0,0.75);
}

.cards--kira .cards__bio__info > h2 {
    color: var(--very-dark-grayish-blue);
}

.cards--kira .cards__bio__info > p {

    color: var(--very-dark-grayish-blue-50);
}

.cards--kira picture img {
    border: none;
}

.cards--kira .cards__review-title {
    color: var(--very-dark-grayish-blue);
}

.cards--kira .cards__review-text {
    color: var(--very-dark-grayish-blue-70);
}
/* ------------------------------------------------------------ */

/* ------------------------------------------------------------ */


/* RESPONSIVE */
@media only screen and (max-width: 1000px) {
    .cards-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
            'daniel daniel jonathan'
            'jeanette patrick patrick'
            'kira kira kira';
        margin: 50px;
        gap: 40px;
    }

    .cards--kira {
        max-width: 550px;
        justify-self: center;
    }
}

@media only screen and (max-width: 860px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            'daniel daniel'
            'patrick patrick'
            'jeanette jonathan'
            'kira kira';
        margin: 80px;
    }

    .cards--daniel > img {
        left: 75%;
    }
}

@media only screen and (max-width: 660px) {
    .cards-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            'daniel'
            'jonathan'
            'jeanette'
            'patrick'
            'kira';
    }

    .cards--daniel > img {
        left: 65%;
    }
}

@media only screen and (max-width: 500px) {
    .cards-container {
        margin: 60px 25px;
        gap: 25px;
    }

    .cards--daniel > img {
        left: 60%;
    }
}

@media only screen and (max-width: 360px) {
    .cards--daniel > img {
        left: 58%;
    }
}